<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos Online - Seu Portal de Aprendizado</title>
    <link rel="stylesheet" href="estilohome.css"/>
</head>
<body>
<div class="header">

    <div class="user-profile">
        <img src="user-avatar.jpg" alt="Foto do Usuário" class="user-avatar">
        <div class="logout-box">
            <p>Olá, Nome do Usuário</p>
            <a href="#">Configurações</a>
            <a href="#">Modo Escuro</a>
            <a href="#">Ajuda</a>
            <a href="/">Sair</a>
        </div>

    </div>
    <h1>Sesi Senai</h1>
    <p>Seu Portal de Aprendizado</p>
</div>
<div class="content">
    <div class="course">
        <img src="desenvolvimento-web.jpg" alt="Curso de Desenvolvimento Web">
        <div>
            <h2>Curso de Desenvolvimento Web</h2>
            <p>Aprenda a criar sites incríveis com HTML, CSS e JavaScript.</p>
            <a href="#">Saiba mais</a>
        </div>
    </div>
    <div class="course">
        <img src="marketing-digital.jpg" alt="Curso de Marketing Digital">
        <div>
            <h2>Curso de Marketing Digital</h2>
            <p>Domine as estratégias de marketing online e aumente sua presença digital.</p>
            <a href="#">Saiba mais</a>
        </div>
    </div>
    <div class="course">
        <img src="fotografia.jpg" alt="Curso de Fotografia">
        <div>
            <h2>Curso de Fotografia</h2>
            <p>Capture momentos especiais e aprimore suas habilidades fotográficas.</p>
            <a href="#">Saiba mais</a>
        </div>
    </div>
</div>
<div class="footer">
    <p>&copy; 2023 Cursos Online. Todos os direitos reservados.</p>
</div>
</body>
</html>
